@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap&font-display=swap');");

/* ===== CSS Variables (Global) ===== */
:root {
  /* Primary Colors */
  --clr-primary: #ffa700;

  /* Neutral Colors */
  --clr-dark: #2b2b2b;
  --clr-light: #ffffff;
  --clr-gray: #808080;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
}

/* ===== Box Sizing & Global Reset ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== Document & Body ===== */
html {
  font-size: 62.5% !important; /* 1rem = 10px */
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--clr-dark) !important;
  font-family: var(--font-poppins) !important;
  font-size: 1.4rem !important; /* 14px */
  line-height: 1.4;
  overflow-x: hidden;
}

/* ===== Element Resets ===== */
/* Grouped selectors for efficiency */
a,
abbr,
acronym,
address,
applet,
article,
aside,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Specific element overrides */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===== Layout Utilities ===== */
.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/*Header*/

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__logo__title {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--clr-light);
}

header {
  background-color: var(--clr-dark);
  padding: 2rem 0;
  box-shadow: 0 4px 8px 0px var(--clr-gray);
  position: relative;
  z-index: 9999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__nav__list {
  display: flex;
  gap: 5rem;
}

.navbar__nav__list__item a {
  color: var(--clr-light);
  font-weight: 300;
}

.navbar__nav__list__item--active a {
  color: var(--clr-primary);
}

.navbar__nav__list__item a:hover {
  color: var(--clr-primary);
  transition: color 0.3s ease-in-out;
}

.navbar__logo__title span {
  color: var(--clr-primary);
}

.navbar__burger-button {
  display: none; /*hidden by default. shown on mobile*/
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
}

.navbar__burger-button span {
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: var(--clr-light);
  transition: all 0.3s ease;
}

.navbar__burger-button.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.navbar__burger-button.open span:nth-child(2) {
  opacity: 0;
}

.navbar__burger-button.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* This is for banner */
.banner {
  padding: 11rem 0;
}

.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.banner__title {
  max-width: 35rem;
  width: 100%;
}

.banner__title h1 {
  font-size: 8rem;
  line-height: 7.5rem;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 4rem;
}

.banner__title p {
  font-weight: 500;
  text-align: justify;
  margin-bottom: 4rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 2rem 3.5rem;
  border-radius: 5rem;
  color: var(--clr-light);
}

.btn--primary {
  background-color: var(--clr-primary);
}

.btn--dark {
  background-color: var(--clr-dark);
}

.banner__image {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.banner__image img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 56rem;
  max-height: 56rem;
}

.banner__image img:first-child {
  opacity: 0.8;
}

.banner__image img:last-child {
  position: absolute;
  top: -4.5rem;
  left: 7.5rem;
  opacity: 1;
}

/* services */
.services {
  padding: 11rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}

.services__item {
  text-align: center;
  margin-bottom: 4rem;
}

.services__item i {
  color: var(--clr-primary);
  margin-bottom: 2rem;
}

.services__item h3 {
  color: var(--clr-primary);
  font-weight: 600;
  margin-bottom: 4rem;
}

.services__item p {
  text-align: justify;
  margin-bottom: 8rem;
  font-weight: 300;
}

/* About */

.about {
  padding: 11rem 0;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.about__item {
  text-align: center;
  margin-bottom: 4rem;
}

.about__image img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100rem;
  max-height: 100rem;
}

.about__description h5 {
  color: var(--clr-primary);
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.about__description p {
  font-weight: 500;
  text-align: justify;
  margin-bottom: 2rem;
}

/* Trends */

.trends {
  padding: 11rem 0;
  background-color: var(--clr-dark);
}

.trends__title {
  margin-bottom: 6rem;
}

.trends__title h2 {
  color: var(--clr-primary);
  font-size: 3.3rem;
  font-weight: 600;
}

.trends__title p {
  color: var(--clr-light);
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.trends__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.article-card {
  background-color: var(--clr-light);
  border-radius: 1.5rem;
  max-width: 34rem;
  width: 100%;
}

.article-card__description {
  padding: 2rem;
}

.article-card__description h3 {
  color: var(--clr-primary);
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.article-card__description p {
  color: var(--clr-dark);
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.article-card__description a {
  color: var(--clr-primary);
  font-weight: 500;
  font-size: 1.4rem;
}

.article-card__image img {
  width: 100%;
  display: block;
  height: 100%;
  max-height: 170px;
  object-fit: cover;
  border-radius: 1.5rem;
}

/* Contact Us*/

.contact-us {
  padding: 6rem 0;
  background-color: var(--clr-primary);
  text-align: center;
}

.contact-us h2 {
  font-weight: 700;
  font-size: 2.1rem;
  color: black;
}

.contact-us p {
  font-weight: 500;
  margin-bottom: 3rem;
  color: black;
}

/* footer */

footer {
  padding: 6rem 0;
  background-color: var(--clr-dark);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer__social-media-list ul {
  display: flex;
  gap: 1rem;
}

.footer__social-media-list ul li a i,
.footer__office-address p,
.footer__trademark {
  color: var(--clr-gray);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

/* ==== Breakpoints (Desktop-First) ===== */
/* Large Laptops (1200px and below) */
@media (max-width: 1200px) {
  .banner__wrapper {
    grid-template-columns: 1fr;
    gap: 12rem;
  }

  .banner__title {
    max-width: 100%;
    text-align: center;
  }

  .banner__title p {
    text-align: center;
  }

  .banner__image img {
    width: 100%;
    height: auto;
  }
}

/* Tablets (992px = 99.2rem) */
@media (max-width: 992px) {
  .navbar__burger-button {
    display: flex;
  }

  .navbar__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    background-color: var(--clr-dark);
    padding: 14rem 5rem;
    transition: all 0.3s ease;
    z-index: -1;
  }

  .navbar__nav.open {
    left: 0;
  }

  .navbar__nav__list {
    flex-direction: column;
    gap: 3rem;
  }

  .about__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    align-items: center;
  }

  .about__description h5 {
    text-align: center;
  }

  .services__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .trends__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .trends__title {
    text-align: center;
  }

  .footer {
    flex-direction: column;
    gap: 5rem;
  }

  .footer__contact {
    flex-direction: column;
    gap: 1rem;
  }

  .footer__office-address,
  .footer__trademark {
    text-align: center;
  }
}

/* Small Tablets (768px = 76.8rem) */
@media (max-width: 768px) {
  .banner__image {
    display: none;
  }
}

/* Mobile (576px = 57.6rem) */
@media (max-width: 576px) {
  .navbar__logo__title {
    display: none;
  }

  .banner__title h1 {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}

/* Small Mobile (400px = 40rem) */
@media (max-width: 400px) {
}

/*  ABOUT PAGE */

.about-banner {
  padding: 11rem 0;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about__title {
  max-width: 35rem;
  width: 100%;
}

.about__title span {
  font-weight: 600;
  color: var(--clr-dark);
}

.about__title h1 {
  font-size: 7rem;
  line-height: 7.5rem;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 4rem;
}

.about-banner__image img {
  display: grid;
  width: 100%;
  height: auto;
  max-width: 100rem;
  max-height: 100rem;
}

.about-banner__arrow-down {
  color: var(--clr-primary);
  font-weight: 300;
  text-align: center;
}

.about__social-media-list ul {
  display: flex;
  gap: 2rem;
}

.about__social-media-list ul li a i {
  color: var(--clr-primary);
}

.about__title p {
  max-width: 365px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 4rem;
}

.about-trends {
  padding: 11rem 0;
  background-color: var(--clr-dark);
}

.about-trends__title {
  margin-bottom: 6rem;
}

.about-trends__title h2 {
  color: var(--clr-primary);
  font-size: 3.3rem;
  font-weight: 600;
}

.about-trends__title p {
  color: var(--clr-light);
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.about-trends__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

/* MEDIA BANNER ABOUT PAGE */
/* ==== Breakpoints (Desktop-First) ===== */
/* Large Laptops (1200px and below) */
@media (max-width: 1200px) {
}

/* Tablets (992px = 99.2rem) */
@media (max-width: 992px) {
  .about__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 5rem;
  }

  .about__title {
    max-width: 100%;
  }

  .about__title p {
    max-width: 100%;
  }

  .about__title h1,
  .about__title span {
    text-align: center;
  }

  .about__title span {
    display: block;
  }

  .about__social-media-list {
    justify-self: center;
  }

  .about-banner__image {
    justify-self: center;
  }

  .about-banner__arrow-down {
    justify-self: center;
  }

  .about-trends__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    justify-items: center;
  }

  .about-trends__title {
    transition: all 0.3 ease;
    justify-items: center;
  }
}

/* Small Tablets (768px = 76.8rem) */
@media (max-width: 768px) {
  .about-trends__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

/* Mobile (576px = 57.6rem) */
@media (max-width: 576px) {
  .about__title h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  .about-trends__title {
    text-align: center;
  }
}

/* Small Mobile (400px = 40rem) */
@media (max-width: 400px) {
}

/* SERVICES CSS */
/* SERVICES CSS */
/* SERVICES BANNER 1 */
.services-banner {
  padding: 11rem 0;
}

.services-banner:nth-child(odd) {
  padding: 11rem 0;
  background-color: var(--clr-dark);
  direction: rtl;
}

.services-container {
  justify-items: center;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.services__title {
  max-width: 345px;
  width: 100%;
}

/* web design word */
.services__title h1 {
  font-size: 35px;
  line-height: 4rem;
  max-width: 50rem;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 4rem;
}

.services__title p {
  max-width: 365px;
  font-weight: 500;
  text-align: justify;
}

/* lorem ipsum bottom */
.services__title p:nth-child(3) {
  font-weight: 500;
  text-align: justify;
  margin-top: 3rem;
}

/* price starts at */
.services__title p:nth-child(4) {
  margin-top: 5rem;
  font-weight: 500;
  text-align: justify;
}

/* 200 dollars */
.services__title p:nth-child(5) {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--clr-primary);
  text-align: justify;
}

/* italic paragraph */
.services__title p:nth-child(6) {
  font-weight: 600;
  text-align: justify;
  font-size: 1rem;
  font-style: italic;
  max-width: 15rem;
  margin-bottom: 5rem;
}

.services__image img {
  display: grid;
  width: 100%;
  height: auto;
  max-width: 100rem;
  max-height: 100rem;
  justify-items: center;
}

.services__arrow-down {
  color: var(--clr-primary);
  font-weight: 300;
}

.services-banner__arrow-down {
  color: var(--clr-primary);
}

/* SERVICES BANNER 2 */
/*  SERVICES BANNER 2 */
.services-container-2 {
  justify-items: center;
}

.services__wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.services__title-2 {
  max-width: 345px;
  width: 100%;
  justify-items: end;
}

/* graphic design word */
.services__title-2 h1 {
  font-size: 35px;
  line-height: 4rem;
  max-width: 50rem;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 4rem;
  direction: ltr;
}

.services__title-2 p {
  max-width: 365px;
  font-weight: 300;
  text-align: justify;
  color: var(--clr-light);
  direction: ltr;
}

/* lorem ipsum bottom */
.services__title-2 p:nth-child(3) {
  font-weight: 300;
  text-align: justify;
  margin-top: 3rem;
  direction: ltr;
}

/* price starts at */
.services__title-2 p:nth-child(4) {
  margin-top: 5rem;
  font-weight: 300;
  text-align: justify;
}

/* 150 dollars */
.services__title-2 p:nth-child(5) {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--clr-primary);
  text-align: justify;
}

/* italic paragraph */
.services__title-2 p:nth-child(6) {
  font-weight: 300;
  text-align: justify;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 5rem;
}

.services__image-2 img {
  display: grid;
  width: 100%;
  height: auto;
  max-width: 100rem;
  max-height: 100rem;
  justify-items: center;
}

.services__arrow-down-2 {
  color: var(--clr-primary);
  font-weight: 300;
}

.services-banner-2__arrow-down {
  color: var(--clr-primary);
}

/* SERVICES BANNER 3 */
/* SERVICES BANNER 3 */
.services-banner-3 {
  padding: 11rem 0;
}

.services-container-3 {
  justify-items: center;
}

.services__wrapper-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.services__title-3 {
  max-width: 345px;
  width: 100%;
}

/* web design word */
.services__title-3 h1 {
  font-size: 35px;
  line-height: 4rem;
  max-width: 50rem;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 4rem;
}

.services__title-3 p {
  max-width: 365px;
  font-weight: 500;
  text-align: justify;
}

/* lorem ipsum bottom */
.services__title-3 p:nth-child(3) {
  font-weight: 500;
  text-align: justify;
  margin-top: 3rem;
}

/* price starts at */
.services__title-3 p:nth-child(4) {
  margin-top: 5rem;
  font-weight: 500;
  text-align: justify;
}

/* 200 dollars */
.services__title-3 p:nth-child(5) {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--clr-primary);
  text-align: justify;
}

/* italic paragraph */
.services__title-3 p:nth-child(6) {
  font-weight: 600;
  text-align: justify;
  font-size: 1rem;
  font-style: italic;
  max-width: 15rem;
  margin-bottom: 5rem;
}

.services__image-3 img {
  display: grid;
  width: 100%;
  height: auto;
  max-width: 100rem;
  max-height: 100rem;
  justify-items: center;
}

.services__arrow-down-3 {
  color: var(--clr-primary);
  font-weight: 300;
}

.services-banner-3__arrow-down {
  color: var(--clr-primary);
}
